.item-div:hover img {
  filter: grayscale(80%);
}
.item-div:hover .read-more {
  /* background-color: rgb(135, 221, 255); */
  /* background-color: rgb(135, 210, 255); */
  box-shadow: 5px 5px 2px 1px rgb(135, 210, 255);
  border: 0px;
  /* color: black; */
}
.item-div:hover {
  /* border: 1px solid rgb(145, 210, 253); */
  box-shadow: 10px 10px 2px 1px rgb(135, 210, 255);
  /* box-shadow: 5px 1px 1px 1px 1px rgb(145, 210, 253) ; */
}
.heading {
  text-transform: capitalize;
}

.item-div {
  /* border-style: ; */
  /* border: 3px dotted black; */
  border-radius: 1px;
  border-left: 4px solid rgb(0, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 0px 0px;
}
.my-img {
  padding: 0px;
  margin: 0px;
}

@media screen and (width<750px) {
  .item-div {
    border: 4px solid black;
  } 

  .read-more {
    border: 0px;

  }
  .item-div {

  }
}

