.my-loading-spinner {
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.heading-main {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1000;
  border-bottom: 8px groove rgb(135, 210, 255);
  color: rgb(135, 210, 255);
  margin-top: 4vh;
}
.heading-main-div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media screen and (width<750px) {
  .heading-main {
    font-size: 1.31rem;
    border-bottom: 5px groove rgb(255, 255, 255);
    color: white;
  }
}
.my-container{
  /* margin-top: 3vh; */
  /* margin-bottom: 5vh; */
  margin-left: 3vw;
  margin-right: 3vw;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
